.container {
  padding: 50px;
  display: flex;
}

.item {
  flex: 1;
}

.table {
  width: 100%;
  border-spacing: 20px;
  text-align: left;
}

.button {
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.button:first-child {
  background-color: teal;
  margin-right: 10px;
}

.button:last-child {
  background-color: crimson;
}

.dltBtn {
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color:teal;
}

@media screen and (max-width: 480px){
  .container {
    display : flex;
    flex-direction: column;
    padding: 20px;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imgContainer {
    width: 13vw;
    height: 13vw;
  }

  .th {
    display : none;
  }

  .orderTh {
    display : none;
  }
}
